<div class="d-flex justify-content-center border border-bt-primary p-3">
    <a class="nav-item nav-link active text-secondary" href="/">Stream <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link text-secondary" href="/classroom/{{classID}}/classwork">Classwork</a>
    <a class="nav-item nav-link text-secondary" href="/classroom/{{classID}}/people">People</a>
    <a class="nav-item nav-link text-secondary" href="/classroom/{{classID}}/grades">Grades</a>
</div>