<header class="header">
    <nav class="nav nav--tours">
        <a href="/" class="nav__el--comp_name">
            LU Classroom
        </a>
    </nav>
    <div class="header__logo"></div>
    <nav class="nav nav--user">
        <a href="/signin" class="nav__el nav__el--logout">Log out</a>

        {{!-- IF Teacher --}}
        {{#if teacher}}
        <a href="" class="nav__el nav__el--logout" data-toggle="modal" data-target="#createClass">Create Class</a>

        {{else}}
        {{!-- IF STUDENT --}}
        <a href="" class="nav__el nav__el--logout nav__el--cta" data-toggle="modal" data-target="#joinClass">Join
            Class</a>
        {{/if}}
        <a href="/account/{{userID}}" class="nav__el">
            <img src="/images/default.jpg" alt="" class="nav__user-img">
            <span id="userName">{{userName}}</span>

        </a>
    </nav>
</header>