<h1 class="heading-secondary text-center mt-5">Account Settings</h1>
<div class="acnt_container ">
    <div class="side-menu">
        <ul class="items">
            <li class="nav_el"><a href="">Settings</a></li>
            {{#if teacher}}
            <div class="dropdown">
                <li class="nav_el dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
                    <a href=""></a> Digital Library </li>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" target="_blank" href="https://dl.acm.org/">ACM Digital Library</a>
                    <a class="dropdown-item" target="_blank" href="https://ieeexplore.ieee.org/Xplore/home.jsp">IEE
                        Xplore</a>
                    <a class="dropdown-item" target="_blank" href="https://dblp.uni-trier.de/">DBLP</a>
                    <a class="dropdown-item" target="_blank" href="https://www.sciencedirect.com/">Science
                        Direct</a>
                </div>
            </div>

            <div class="dropdown">
                <li class="nav_el dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
                    <a href=""></a>Accademic Search Engine </li>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" target="_blank" href="https://scholar.google.com/">Google Scholar</a>
                    <a class="dropdown-item" target="_blank" href="https://academic.microsoft.com/">Microsoft
                        Academic</a>
                    <a class="dropdown-item" target="_blank" href="https://www.base-search.net/">BASE</a>
                    <a class="dropdown-item" target="_blank" href="https://core.ac.uk/">CORE</a>
                    <a class="dropdown-item" target="_blank" href="https://www.science.gov/">Science.gov</a>
                    <a class="dropdown-item" target="_blank" href="https://www.semanticscholar.org/">Semantic
                        Scholar</a>
                    <a class="dropdown-item" target="_blank" href="https://xueshu.baidu.com/">Baidu Scholar</a>
                </div>
            </div>

            {{else}}
            <li class="nav_el"><a href="">Result</a></li>
            <li class="nav_el"><a href="">Routine</a></li>
            {{/if}}
        </ul>
    </div>
    <div class="personal__info">
        <div class="overview_section">
            <form method="POST" class="text-secondary">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" name="firstname" id="fname" value="First Name">
                </div>

                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" name="lastname" id="lname" value="Last Name">
                </div>
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" name="id" id="id" value="123456">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" value="email">
                </div>

                {{#unless teacher}}
                <div class="form-group">
                    <label for="dob">Date Of Birth</label>
                    <input type="text" class="form-control" name="dob" placeholder="Format: yyyy/mm/dd"
                        autocomplete="off" id="dob" value="dob">

                </div>
                <div class="form-group">
                    <label for="batch">Batch</label>
                    <input type="text" class="form-control" name="batch" id="batch" value="batch">
                </div>
                <div class="form-group">
                    <label for="section">Section</label>
                    <input type="text" class="form-control" name="section" id="section" value="section">
                </div>
                {{/unless}}


                <div class="form__group">
                    <button class="btn btn--green">
                        Update
                    </button>
                </div>
            </form>

        </div>
        <div class="password_portion"></div>
    </div>
</div>