::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.banner {
  overflow: hidden;
  height: 30vw;
  width: 100%;
  margin-top: 5%;
  border-radius: 16px;
  border: 0.55px solid #dddddd;
}

.banner-body {
  background-image: url("../images/classroom-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
  overflow: hidden;
  position: relative;
  padding: 2%;
  border: 1px solid green;
}

.banner-body .top-left {
  color: white;
}

.banner-body .bottom-right {
  position: absolute;
  float: right;
  bottom: 10px;
  right: 10px;
  color: white;
}

.bottom-right a {
  color: white;
}

.banner-foot {
  height: 20%;
  padding: 2%;
}

.post {
  border: 0.5px solid #dddddd;
  border-radius: 16px;
  margin-bottom: 3%;
  position: relative;
}

.post-number {
  position: absolute;
  top: -15px;
  left: -15px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-head {
  background-color: #444444;
  padding: 2%;
  color: #dddddd;
}

.post-body {
  padding: 2%;
  background-color: #eeeeee;
  font-size: 1.2rem;
}

.comment-section {
  padding: 2%;
  background-color: #eeeeee;
  overflow: auto;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.all-comments {
  max-height: 150px;
}
.input-comment {
  height: 10vh;
}

.btn-comment {
  margin-top: 2%;
  position: relative;
  left: 80% !important;
  width: 20%;
}

.comment {
  border: 0.5px solid #dddddd;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.7) !important;
  padding: 1.5%;
  margin-top: 2%;
}

.comment-body {
  margin-bottom: 10px;
}

.comment-author {
  color: green;
  font-weight: 700;
}
.comment-time {
  border-top: 0.5px solid #444444;
  display: inline-block;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .btn-comment {
    font-size: 0.7rem !important;
    text-align: center;
  }
}

/* form {
    box-shadow: 0px 0px 7px 0px #dddddd;
    padding: 2%;
    border-radius: 16px;
} */
