.banner {
    overflow: hidden;
    height: 30vw;
    width: 100%;
    margin-top: 5%;
    border-radius: 16px;
    border: 0.55px solid #dddddd;
}

.banner-body {

    background-image: url("../images/classroom-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80%;
    overflow: hidden;
    position: relative;
    padding: 2%;
    border: 1px solid green;
}

.banner-body .top-left {
    color: white;
}

.banner-body .bottom-right {
    position: absolute;
    float: right;
    bottom: 10px;
    right: 10px;
    color: white;
}

.bottom-right a {
    color: white;
}

.banner-foot {
    height: 20%;
    padding: 2%;
}

.post {
    border: 0.5px solid #dddddd;
    border-radius: 16px;
    margin-bottom: 3%;
    position: relative;
}

.post-number {
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-head {
    background-color: #444444;
    padding: 2%;
    color: #dddddd;
}

.post-body {
    padding: 2%;
    background-color: #eeeeee;
}

.comment-section {
    padding: 2%;
    background-color: #eeeeee;
}

.input-comment {
    height: 10vh;
}

.btn-comment {
    margin-top: 2%;
    position: relative;
    left: 80% !important;
    width: 20%;

}

@media screen and (max-width: 768px) {
    .btn-comment {
        font-size: 0.7rem !important;
        text-align: center;
    }
}

/* form {
    box-shadow: 0px 0px 7px 0px #dddddd;
    padding: 2%;
    border-radius: 16px;
} */